@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.city {
    background: #0d3e86;
    border-radius: 25px;
    text-align: center;
    /* height: 25px; */
}
body {
    background: url('./Assets/mountains5.gif');
    /* background-color: #837e7e9e; */
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    background-color: hsla(0, 0%, 20%, 0.25);

}


.myGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-row: span;
    grid-column-start: -3 ;
    grid-column-end: -1 ;
    

}

input {
    outline: none;
    border: none;
    border-radius: 15px;
}
button {
    outline: none;
    border: none;
    border-radius: 15px;
}
.data_container {
    height: auto;
    /* display: grid; */
    align-content: space-around;
    padding-top: 0.5px;
    width: 40%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background: rgba(240, 248, 255, 0.268);
    border-radius: 25px;
    gap: 6px;
}

div{
    /* outline: 3px solid orange; */
}
.container {
    /* display: grid; */
    width: 100vw;
    /* margin-top: 20px; */
    height: 100vh; 
    /* outline: 3px solid orange; */
    /* background-color: hsla(0, 2%, 50%, 0.319); */
    /* height: 550px; */
    /* padding: 50px; */
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}